*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body
{
    background: #efefef;
    font-family: sans-serif;
}

.profile-img
{
    background-color: #212F3D;
    height: 100%;
}
.profile-img h2
{
    padding: 30px;
    color: white;
}
.profile-img h4
{
    padding: 5px;
    color: white;
}
.profile-img
{

    padding: 40px;
    float: right;
    padding: None;
}
.profile-img img
{
    border-radius: 100%;
}
.profile-info
{
    width: 60%;
    height: 10vh;
    float: left;
    padding: 0 30px;
}
.profile-info
{
    margin-top: 50px;
    margin-bottom: 30px;
}

.education
{
    width: 60%;
    height: 10vh;
    float: left;
    padding: 0 30px;
}
.summary
{
    margin-top: 20px;
    width: 60%;
    height: 10vh;
    float: left;
    padding: 0 30px;
}
.social-media img
{
    height: 30px;
    margin-right: 15px;

}
.social-media
{
    margin-top: 20px;
    margin-left: 15px;
}
.summary p
{
    margin-top: 10px;
}
.education img
{
    height: 30px;
    margin-left: 15px;
    margin-top: 35px;
}
.education h4
{
    display: inline-block;
    
    padding: 3px;
    margin-left: 10px;
}

.lc
{
    width: 60%;
    height: 10vh;
    float: left;
    padding: 0 30px;
}
.lc img
{
    height: 10px;
    margin-left: 5px;
    margin-top: 5px;
    float: left;
}

.lc h4
{
    display: inline-block;
    
    padding: 3px;
    margin-left: 10px;
}