
  body {
    margin: 0;
    padding: 0;
    display: flex;
  }
  
  #left {
    width: 750px;
    background-color: #f0f0f0;
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    overflow: hidden;
    text-align: center;
  }
  #left img {
    width: 450px; /* Adjust the size of the circle */
    height: 450px; /* Ensure the image maintains its aspect ratio */
    border-radius: 50%; /* Make the image circular */
    display: block; /* Remove any extra spacing around the image */
    margin: 20px auto; /* Center the image horizontally and provide some margin */
  }
  #left a {
    color: #4169e1; /* Set the initial blue link color */
    text-decoration: none; /* Remove underlines from the link */
    transition: color 0.3s; /* Add a smooth color transition effect */
  }
  
  #left a:hover {
    color: #4169e1; /* Change the link color on hover to highlighted color */
    font-size: 18px;
  }
  
  #social-links {
    display: flex;
    align-items: center;
    margin-left: 240px;
    /* padding-right: 20px; */
    
  }
  
  #social-links a {
    display: inline-block;
    margin-left: 30px;
    transition: transform 0.2s;
  }
  
  #social-links img {
    width: 50px; /* Adjust the width to make the icons smaller */
    height: 50px; /* Adjust the height to maintain aspect ratio */
  }
  .social-links a:hover {
    transform: scale(1.1); /* Enlarge the icon slightly on hover */
  }



  #right {
    width:750px;
    flex: 1;
    padding-left: 500px;
    background-color: #ffffff;
    overflow-y: auto;
    max-height: 100vh;
    margin-left: 300px;
  }
  .right-align {
    text-align: left; /* Align the content on the right side to the right */
  }
  .education-text {
    font-weight: 100;
  }
  #projects{
    width:750px;
  }
  a{
    color: #4169e1; /* Set the initial blue link color */
    text-decoration: none; /* Remove underlines from the link */
    transition: color 0.3s; /* Add a smooth color transition effect */
  }
  a:hover {
    color: #4169e1; /* Change the link color on hover to highlighted color */
    font-size: 18px;
  }


  .oval-button {
    display: inline-block;
    padding: 4px 8px;
    border-radius: 20px; /* Set border radius for rounded edges */
    border: 2px solid black; /* Border with color */
    background-color: transparent;
    text-align: center;
    transition: background-color 0.3s, color 0.3s;
  }
  
  .oval-button a {
    display: block;
    color: black; /* Initial color */
    text-decoration: none;
  }
  
  .oval-button:hover {
    background-color:#d5f5ea; /* Change the background color */
  }
  
  .oval-button:hover a {
    /* color: white; Change the text color on hover */
  }
  .cert-text li {
    padding: 10px 0;
    border-bottom: 1px solid #ddd; /* Add border at the bottom of each list item */
  }

  