/* Common styles for both desktop and mobile */

body {
  margin: 0;
  padding: 0;
  display: flex;
  overflow:hidden;
}

#container {
  display: flex;
  width: 100%;
}

#left {
  width: 50%; /* Half of the screen */
  background-color: #f0f0f0;
  text-align: center;
  padding: 20px;
  overflow: hidden;
}

#left img {
  width: 450px;
  height: 450px;
  border-radius: 50%;
  margin: 20px auto;
}

#left a {
  color: #4169e1;
  text-decoration: none;
  transition: color 0.3s, font-size 0.3s;
}

#left a:hover {
  color: #4169e1;
  font-size: 18px;
}

#social-links {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 20px;
}

#social-links a {
  display: inline-block;
  margin: 0 10px;
  transition: transform 0.2s;
}

#social-links img {
  width: 50px;
  height: 50px;
}

.social-links a:hover {
  transform: scale(1.1);
}

#right {
  width: 50%;
  background-color: #ffffff;
  overflow-y: auto;
  max-height: 100vh;
  padding: 20px;
} 


.right-align {
  text-align: left;
  width: auto;
}

.education-text {
  font-weight: 100;
}
#work{
  width: 100%;
}
#projects {
  width: 100%;
}

a {
  color: #4169e1;
  text-decoration: none;
  transition: color 0.3s, font-size 0.3s;
}

a:hover {
  color: #4169e1;
  font-size: 18px;
}

.oval-button {
  display: inline-block;
  padding: 4px 8px;
  border-radius: 20px;
  border: 2px solid black;
  background-color: transparent;
  text-align: center;
  transition: background-color 0.3s, color 0.3s;
}

.oval-button a {
  display: block;
  color: black;
  text-decoration: none;
}

.oval-button:hover {
  background-color: #d5f5ea;
}

.cert-text li {
  padding: 10px 0;
  border-bottom: 1px solid #ddd;
}

/* Media query for screens smaller than 768px (typical tablet and mobile sizes) */

@media (max-width: 768px) {
  body {
    flex-direction: column; /* Stack content vertically on mobile */
  }

  #container {
    flex-direction: column;
  }

  #left,
  #right {
    width: 100%;
    padding: 20px;
    margin-left: 0;
  }

  #left img {
    width: 300px;
    height: 300px;
    margin: 10px auto;
  }

  #social-links {
    justify-content: center;
    margin-top: 10px;
  }

  #social-links a {
    margin: 0 10px;
  }

  #right {
    padding-left: 20px;
    margin-top: 10px;
  }
}
