body{
    background-color: #f4f4f4;
    color: #555;
    font-family: Arial,Helvetica,sans-serif;
    font-size: 16px;
    line-height: 1.6em;
    margin: 0;
}
.container{
    width: 80%;
    margin: auto;
    overflow: hidden;
}

#main-header{
    background-color: coral;
    color: #fff;
    text-align: center;

}

#navbar{
    background-color: #333;
    color: #fff;
}
.bgroup{
    width: 90%;
    display: inline;
}

#navbar #logout{
    width: 5%;
    float: right;
    display: inline;
    font-size: 18px;
    width: 10%;
}
#navbar button{
    display: inline;
    padding: 15px;
    border-collapse: collapse;
    border-color: #333;
    background: #333;
    color: #fff;
    border: none;
    cursor: pointer;
    font-size: 18px;
}
#navbar button:active{
    background-color: #ccc;
}





#tabHeader{
    min-height: 100px;
    text-align: center;
}
#tabHeader h1{
    color: #000000;
    font-size: 30px;
    line-height: 1.6em;
    padding-top: 20px;
}


.inputFields{
    background-color: #fff;
}

.my-form{
    padding: 5px 20px 20px 20px;
    text-align: center;
}
.form-group{
    display: inline-block;
    padding: 15px;
}
.my-form .form-group{
    padding-bottom: 15px;
}
.my-form label{
    display: block;
    float: left;
    padding: 5px 5px;
    font-weight: bold;
}
.form-group text{
    display: none;
}
.form-group select{
    text-align: center;
}

.form-group input[type="text"],input[type="number"]{
    height:30px ;
}
.form-group select{
    height:30px ;
}

.buttonClass{
    padding: 5px 20px 20px 20px;
    text-align: center;
}
.buttonClass button{
    width: 100px;
    font-size: 18px;
    border-radius: 8px;
    /* border: 2px solid #4CAF50;*/
    border: 2px solid black;
    text-align: center;
}
.button-group{
    padding: 15px;
    display: inline;
}





.table{
    width: 80%;
    text-align: center;
    /*margin: auto;*/
    margin: 30px auto;
    border-collapse: collapse;

}

.table th,tr,td{
    width: 150px;
    border: 1px solid black;
    padding: 10px;
}
























